.primaey-color {
    -fx-background-color: #132A13;
}

.selected:hover {
    -fx-cursor: hand;
}

.transparent {
    -fx-background-color: rgba(0,0,0,0);
}
.withe-background {
    -fx-background-color: white;
}

.linia {
    -fx-border-color: black;
}

.handToMessageMenu:hover {
    -fx-cursor: hand;
}

.selected_vbox {
    -fx-background-color: #cff1dc;
    /*-fx-background-color: #a6a6a6;*/
}

.border_dret {
    -fx-border-color: #d2d2d2;
    -fx-border-width: 0 1 0 0;
}