/* Main Style */
.profile_view {
    -fx-background-color: #EEEEEE;
    -fx-spacing: 10;
    -fx-alignment: center;
}

/* Style label*/
.profile_view Label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-text-fill: #132A13;
}

/* Style textField */
.profile_view TextField {
    -fx-background-color: #FFFFFF;
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3,0,0,3);
}

/* Style DatePicker */
.profile_view DatePicker {
    -fx-background-color: #FFFFFF;
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3,0,0,3);
}

/* Style button */
.profile_view Button {
    -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 100;
    -fx-font-size: 1.2em;
}

.profile_view Button:hover {
    -fx-cursor: hand;
    -fx-background-color: #253f25;
}

.profile_view HBox {
    -fx-alignment: center_left;
    -fx-spacing: 10;
}

.profile_view Button.cancel_button {
    -fx-background-color: #AA0000; /* Color de fondo rojo para cancelar */
}


